name: Keep Render App Alive

on:
  schedule:
    - cron: "*/12 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Send request to Render app
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}" https://istanbulhousepriceprediction.onrender.com)
          echo "HTTP Status: $STATUS"
          if [ "$STATUS" -ne 200 ]; then
            exit 1
          fi
